<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Emissions</title>
    <%- include('../../partials/style') %>
</head>
<body class="carbonEm">
    
<%- include('../../partials/nav') %>
<header class="landingPage">
<div class="container">
<div class="landingInfo">
    <div class="heading">
    <h1 class="cover-heading">Carbon Emissions</h1>
    </div>
    <p class="lead">A product’s carbon footprint is defined as the total greenhouse gas emissions it causes by it’s production or use. Large amounts of greenhouse gases, including carbon dioxide and methane, notoriously cause climate changes that impact our entire ecosystem. These changes impact event the greatest depths of our world. By choosing to use products that produce less of these greenhouse gas emissions, we can limit the damage we are doing to our planet. Explore products worth sharing that can help us do just that.</p>
    <p class="lead">
      <a href="/products/carbonproducts" class="btn btn-primary">Make an IMPACT</a>
    </p>
  </main>
</div>
</div>
</body>
</html>