<!-- Overall nav bar styling -->

<nav class="navbar navbar-light bg-faded navbar-sticky-top">
    <a class="navbar-brand" href="/"><img src="https://i.imgur.com/8vwiEc5t.jpg" class="rounded" width="30" height="30" alt="impact.logo" loading="lazy"></a>
    
    <!-- Login/Register Link -->
    <% if (user) { %>
        <ul class="nav-bar-login"></ul>
        <li class="nav-item">
            <form action="/auth/logout?_method=DELETE" method="POST">
                <input class="btn btn-light" type="submit" value="Logout">
            </form>
            <% } else { %>
                <a class="btn btn-light" href="/auth/login">LOGIN/REGISTER</a>
            </li>
        </ul>
            <% } %>


    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="navbar-collapse collapse" id="navbarsExample06" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/products/crueltyfree">Cruelty Free</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/plastic">Plastic Consumption</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/carbon">Carbon Emissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About IMPACT</a>
          </li>
          <% if (user) {%>
            <li class="nav-item">
                <a class="nav-link" href="/products/new">Share a New Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/<%= user.id %>">Your Profile</a>
              </li>
            <% } %>
      </ul>
    </div>
</nav>
</div>
