<div class="navdropdown">
    <select onChange="window.location.href=this.value">
        <option selected="selected">Choose an option</option>
        <option value="/products/crueltyfree">Cruelty Free</option>
        <option value="/products/plastic">Plastic Consumption</option>
        <option value="/products/carbon">Carbon Emissions</option>
        <% if (user) {%>
        <option value="/products/new">Share A New Product</option>
        <option value="/users/<%= user.id %>">Your Profile</a>
        <% } %>
    </select>
</div>