<nav class ="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid"></div>
<a class="navbar-brand" href="/"><img src="">
</div>
<div class="navlogin">
    <% if (user) { %>
        <form action="/auth/logout?_method=DELETE" method="POST"><input type="submit" value="Logout"></form>
    <% } else { %>
        <a href="/auth/login">LOGIN/REGISTER</a>
    <% } %>
</div>
<div class="navdropdown">
    <select onChange="window.location.href=this.value">
        <option selected="selected">Choose an option</option>
        <option value="/products/crueltyfree">Cruelty Free</option>
        <option value="/products/plastic">Plastic Consumption</option>
        <option value="/products/carbon">Carbon Emissions</option>
        <% if (user) {%>
        <option value="/products/new">Share A New Product</option>
        <option value="/users/<%= user.id %>">Your Profile</a>
        <% } %>
    </select>
</div>
</nav>