<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPACT | About</title>
    <%- include('partials/style') %>
</head>
<body>
<%- include('partials/nav') %>
    <h1>About IMPACT View Page</h1>

    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>