<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>IMPACT | Home</title>

    <%- include('partials/style') %>

</head>
<body class="home">
    <%- include('partials/nav') %>
            </div>
        </div>
        
    </div>
    <h1>Temp Index/Home Page Header</h1>


    <footer>
        <%- include('partials/footer') %>
    </footer>

</body>
</html>