<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>IMPACT | Home</title>

    <%- include('partials/style') %>

</head>
<body class="home">
    <%- include('partials/nav') %>

    
    <!-- header credit goes to: https://startbootstrap.com/snippets/video-header/ -->
<header>
    <div class="flex-container">
        <div class="overlay"><img src="https://i.imgur.com/GwEWedE.png"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="https://i.imgur.com/bx7CV2T.mp4" type="video/mp4">
          </video>
    </div>
</header>


    <footer>
        <%- include('partials/footer') %>
    </footer>

</body>
</html>