/* sanity check */

h1 {
    color: blue;
}

/* Navigation */

.nav-bar-login {

}

.nav-item {
    list-style: none
}

header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100vh;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .overlay {
    position: relative;
    box-sizing: content-box;
    align-content: center;
    max-width: 50vh;
    min-height: 50vh;
    z-index: 1;
  }

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.loginBox {
    background-color: rgba(216, 214, 197, 0.6);
    color: rgb(54, 55, 74);
    display: flex; 
    padding: 2px;
}

.auth-form-container-left {
    padding: 25px;
    color: rgb(54, 55, 74);
}

.auth-form-container-right {
    padding: 25px;
    color: rgb(54, 55, 74);
}

.btn-primary {
    color: rgb(216, 214, 197);
    background-color: rgb(54, 55, 74);
}


  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  