<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cruelty Free Products</title>
</head>
<body>
    <h1>This is the Cruelty Free Products Index Page</h1>
</body>
</html>