<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cruelty Free</title>
    <%- include('../../partials/style') %>
</head>

<body class="crueltyFree">
  <%- include('../../partials/nav') %>

<header class="landingPage">
    <div class="container">
        <div class="landingInfo">
            <div class="heading">
                <h1 class="cover-heading">Choosing Cruelty Free</h1>
            </div>
          <p class="lead">Right now there are millions of animals suffering around the world, being subjected to experiments of which the goal is to make products more quickly and with less money. We here at IMPACT are firm believers that although these experiments can’t be eliminated completely, we can certainly find and use products that drastically cut down on the suffering of these animals. Cruelty-free is a label for products that do not harm or kill animals in the way that they are produced. Below are the submissions of users that have provided links to products that are cruelty free so that we can all do our part to make the world a better place for animals to exist.</p>
          <p class="lead">
            <a href="/products//crueltyfreeproducts" class="btn btn-primary">Make an IMPACT</a>
          </p>
        </div>
    </div>
</body>
</html>
