<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cruelty Free</title>
    <%- include('../../partials/style') %>

</head>
<body>
<%- include('../../partials/nav') %>
    <h1 class="landing_page">Choose Cruelty Free</h1>

    <div class="landing_body"> Small blurb regarding what "cruelty free" means and its importance </div>

    <div class="landing_page_link">
    <form action="/products/crueltyfreeproducts">
        <input type="submit" value="Explore Products">
    </form>
    
</div>
<footer>
    <%- include('../../partials/footer') %>
</footer>
</body>
</html>