<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plastic Consumption</title>
    <%- include('../../partials/style') %>
</head>
<body class="plasticCon">
    
<%- include('../../partials/nav') %>
<header class="landingPage">
    <div class="container">
        <div class="landingInfo">
            <div class="heading">
                <h1 class="cover-heading">Plastic Consumption</h1>
            </div>
        <p class="lead">The effect of worldwide plastic consumption is currently a very real threat to the health of our planet. Plastic debris is accumulating on the coastlines and in the oceans. Becuase it cannot decompose, it jeopardizes wildlife and the environment as a whole. Here at IMPACT we feel strongly that minimizing plastic consumption is one of the easiest ways that we as a species can reduce the amount of damage that we are doing to our planet. But don't take our word for it! See your peers favorite products by exploring the link below.</p>
        <p class="lead">
          <a href="/products/plasticproducts" class="btn btn-primary">Make an IMPACT</a>
        </p>
      </main>
    </div>
    </div>
    </body>
    </html>