<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plastic Consumption</title>
</head>
<body>
    <div class="navhome">
        <a href="/">HOME</a>
    </div>
    <div class="navlogin">
        <% if (!user) { %>
            <a href="/auth/login">LOGIN/REGISTER</a>
        <% } else { %>
        <form action="/auth/logout?_method=DELETE" method="POST"><input type="submit" value="Logout"></form>
        <% } %>
    </div>
<%- include('../../partials/nav') %>
    <h1 class="landing_page">Plastic Consumption</h1>

    <div class="landing_body"> Small blurb regarding plastic consumption facts (ie: how its produced/its environmental impact) and the importance of reduced consumption </div>

    <div class="landing_page_link">
    <form action="/products/plasticproducts">
        <input type="submit" value="Explore Products">
    </form>
    
</div>
</body>
</html>