<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plastic Consumption</title>
    <%- include('../../partials/style') %>
</head>
<body>
    
<%- include('../../partials/nav') %>
    <h1 class="landing_page">Plastic Consumption</h1>

    <div class="landing_body"> Small blurb regarding plastic consumption facts (ie: how its produced/its environmental impact) and the importance of reduced consumption </div>

    <div class="landing_page_link">
    <form action="/products/plasticproducts">
        <input type="submit" value="Explore Products">
    </form>
    
</div>
<footer>
    <%- include('../../partials/footer') %>
</footer>
</body>
</html>