<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <%- include('../partials/style') %>
</head>
<body class="newProduct">
<%- include('../partials/nav') %>
       
    <h1>Add a New Product</h1>
    <div class="newProductForm">
        <form action="/products" method="POST">
            Product Title: <input type="text" name="title" placeholder="title"><br>
            Price: <input type="text" name="price" placeholder="0.00">
            Image Link: <input type="url" name="imageLink"><br>
            Product Link: <input type="url" name="productLink"><br>
            Description: <input type="text" name="description"><br>
            Category: <select name = "category">
                <% categories.forEach((category) => { %>
                    <% console.log(category) %>
                    <option><%=category%></option>
                <%})%>
            </select>
        <input type="submit" value="Submit New Product">
        </form>
    </div>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>

