<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body class="newProduct">
    <div class="navhome">
        <a href="/">HOME</a>
    </div>
    <div class="navlogin">
        <% if (!user) { %>
            <a href="/auth/login">LOGIN/REGISTER</a>
        <% } else { %>
        <form action="/auth/logout?_method=DELETE" method="POST"><input type="submit" value="Logout"></form>
        <% } %>
    </div>
<%- include('../partials/nav') %>
        <div class="nav">
    
        </div>
    <h1>Add a New Product</h1>
    <div class="newProductForm">
        <form action="/products" method="POST">
            Product Title: <input type="text" name="title" placeholder="title"><br>
            Price: <input type="number" name="price" placeholder="0.00">
            Image Link: <input type="url" name="imageLink"><br>
            Product Link: <input type="url" name="productLink"><br>
            Description: <input type="text" name="description"><br>
            Category: <select name="category">
                <option selected="selected">Choose a category</option>
                <option name="category">Cruelty Free</option>
                <option name="category">Plastic Consumption</option>
                <option name="category">Carbon Emissions</option>
            </select>
        <input type="submit" value="Submit New Product">
        </form>
    </div>
</body>
</html>